body {
    background-color: #09090b; /* Warna hitam zinc */
    color: #fafafa;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.profile-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 2px solid #27272a;
    margin-bottom: 16px;
}

h1 { font-size: 1.5rem; margin-bottom: 4px; }

p { color: #a1a1aa; font-size: 0.9rem; margin-bottom: 32px; }

.links { display: flex; flex-direction: column; gap: 16px; }

.link-card {
    background-color: #18181b;
    border: 1px solid #27272a;
    padding: 16px;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.link-card:hover {
    background-color: #27272a;
    transform: translateY(-2px);
}
